/*-------- Global --------*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.clearfix::after {
    content:"";
    clear: both;
    display: table;
}
html {
    font-family:'Montserrat', sans-serif;
    font-weight: 100;
}
body {
    width: 80%;
    margin: auto;
    background-image: url(images/darkgrey.png);
    background-position:top;
    
}
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.blue{
    color: #fcc033;
}
h1 {
    font-size: 45px;
    font-weight: 100;
    color: #ffffff
}
h2 {
    font-size: 2vw;
    font-weight: 100;
    color: #fcc033
}
h3 {
    font-size: 2.5vw;
    font-weight: 100;
    color: #ffffff
}
h5 {
    font-size: 1.2vw;
    margin-top: 10px;  
    color: #fcc033
}
p {
    font-weight: 100;
    margin-top: 10px;
    font-size: 1.1vw;
    max-width: 100%;
    line-height: 1.25;
    color: #ffffff
}
hr.new1 {
    border: 1px solid rgb(133, 132, 132);
    border-radius: 2px;
  }

/*-------- Nav --------*/
.nav {
    display: flex;
    align-items: center;
    height: 70px;
    padding-bottom: 15px;
}
.contactMe,.navIcons {
    flex: 1;
}
.navIcons {
    text-align: right;
}
.navIcons a, .contactMe a, .contactMe img {
    display: inline-block;
    vertical-align: middle;
}
.navIcons a {
    margin-left: 40px;
}
.contactMe a, .navIcons a{
    color: #fcc033;
    text-decoration:none;
}
.contactMe img{
    margin-right: 10px;
}

/*-------- Landing --------*/

.landing {
    height: auto;
    padding-bottom: 50px;
}
.landingWrapper{
    text-align: left;
}
.landingWrapper img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}
.landingWrapper p{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
ul {
    list-style: none;
    margin-top: 30px;
    line-height: 30px;
}
.scroll {
    position: absolute;
    bottom: 140px;
    left: 0;
    right: 0;
    margin: auto;
}
/*-------- Skills --------*/
.skills {
    text-align: center;
    margin-bottom: 150px;
    margin-top: 70px;
}
.skills p {
    margin-bottom: 30px;
    text-align: center;
    max-width: 100%;

}
.skills img {
    width: 60px;
    vertical-align: middle;
    margin: 0 15px;
}
.workheader {
    margin-top: 50px;
    width: 100%;
    position: relative;
    margin-bottom: 50px;
    text-align: center;
}
/*-------- Project 01 --------*/
.work {
    width: 100%;
    position: relative;
    margin-bottom: 50px;
}
.work img {
    max-width:100%;
    height:auto;
    border-radius: 25px;
}
.work > .workText {
    position: absolute;
    top: 85px;
}
.work > .workText > .underline {
    display: block;
    background-color: #fcc033;
    height: 3px;
    width: 7.6vw;
    margin-top: 5px;
}
.work > .workImg {
    width: 70%;
    float: right;
    -webkit-box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
    -moz-box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
    box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
}
.work ul {
    position: absolute;
    bottom: 0;
    right: 86%;
}
.work ul li {
    margin-top: 20px;
}
/*-------- Work 02 --------*/
.work2 {
    width: 100%;
    position: relative;
    margin-bottom: 100px;
}
.work2 img {
    max-width:100%;
    height:auto;
    border-radius: 25px;
}
.work2 > .workText {
    position: absolute;
    top: 85px;
    right: 0;
    text-align: right;
}
.work2 > .workText > .underline {
    display: block;
    background-color: #fcc033;
    height: 3px;
    width: 7.6vw;
    margin-top: 5px;
    float: right;
}
.work2 > .workImg {
    width: 70%;
    float: left;
    -webkit-box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
    -moz-box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
    box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
}
.work2 ul {
    position: absolute;
    bottom: 0;
    left: 86%;
}
.work2 ul li {
    margin-top: 20px;
}
/*-------- Work 03 --------*/
.work3 {
    width: 100%;
    position: relative;
    margin-bottom: 100px;
}
.work3 img {
    max-width:100%;
    height:auto;
    border-radius: 25px;
}
.work3 > .workText {
    position: absolute;
    top: 85px;
}
.work3 > .workText > .underline {
    display: block;
    background-color: #fcc033;
    height: 3px;
    width: 7.6vw;
    margin-top: 5px;
}
.work3 > .workImg {
    width: 70%;
    float: right;
    -webkit-box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
    -moz-box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
    box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
}
.work3 ul {
    position: absolute;
    bottom: 0;
    right: 86%;
}
.work3 ul li {
    margin-top: 20px;
}
/*-------- Work 04 --------*/
.work4 {
    width: 100%;
    position: relative;
    margin-bottom: 100px;
}
.work4 img {
    max-width:100%;
    height:auto;
    border-radius: 25px;
}
.work4 > .workText {
    position: absolute;
    top: 85px;
    right: 0;
    text-align: right;
}
.work4 > .workText > .underline {
    display: block;
    background-color: #fcc033;
    height: 3px;
    width: 7.6vw;
    margin-top: 5px;
    float: right;
}
.work4 > .workImg {
    width: 70%;
    float: left;
    -webkit-box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
    -moz-box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
    box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
}
.work4 ul {
    position: absolute;
    bottom: 0;
    left: 86%;
}
.work4 ul li {
    margin-top: 20px;

}
/*-------- Work 05 --------*/
.work5 {
    width: 100%;
    position: relative;
    margin-bottom: 100px;
}
.work5 img {
    max-width:100%;
    height:auto;
    border-radius: 25px;
}
.work5 > .workText {
    position: absolute;
    top: 85px;
}
.work5 > .workText > .underline {
    display: block;
    background-color: #fcc033;
    height: 3px;
    width: 7.6vw;
    margin-top: 5px;
}
.work5 > .workImg {
    width: 70%;
    float: right;
    -webkit-box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
    -moz-box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
    box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
}
.work5 ul {
    position: absolute;
    bottom: 0;
    right: 86%;
}
.work5 ul li {
    margin-top: 20px;
}
/*-------- Work 06 --------*/
.work6 {
    width: 100%;
    position: relative;
    margin-bottom: 100px;
}
.work6 img {
    max-width:100%;
    height:auto;
    border-radius: 25px;
}
.work6 > .workText {
    position: absolute;
    top: 85px;
    right: 0;
    text-align: right;
}
.work6 > .workText > .underline {
    display: block;
    background-color: #fcc033;
    height: 3px;
    width: 7.6vw;
    margin-top: 5px;
    float: right;
}
.work6 > .workImg {
    width: 70%;
    float: left;
    -webkit-box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
    -moz-box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
    box-shadow: 0px 3px 70px 0px rgba(23,30,36,0.06);
}
.work6 ul {
    position: absolute;
    bottom: 0;
    left: 86%;
}
.work6 ul li {
    margin-top: 20px;

}
/*-------- Work 01 and 02 --------*/
.work a, .work2 a, .work3 a, .work4 a, .work5 a, .work6 a{
    text-decoration: none;
    color: #17191A;
}
/*-------- Responsive --------*/

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */


@media only screen and (max-width: 320px) {

    h3 { 
       font-size: 2em; 
    }
 
 }











