/*-------- Global --------*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.clearfix::after {
    content:"";
    clear: both;
    display: table;
}
html {
    font-family:'Montserrat', sans-serif;
    font-weight: 100;
}
body {
    width: 80%;
    margin: auto;
    background-image: url(images/memphis-mini.png);
    background-position:top;
    
}
.blue{
    color: #027bff;
}
h1 {
    font-size: 40px;
    font-weight: 100;
    color: #17191A
}
h2 {
    font-size: 25px;
    font-weight: 100;
    color: #17191A
}
h5 {
    font-size: 20px;
    margin-top: 10px;  
    color: #17191A
}
p {
    color: rgb(128, 135, 138);
    
    font-weight: 100;
    margin-top: 10px;
    font-size: 15px;
    max-width: 100%;
    line-height: 1.25;
}

/*-------- Nav --------*/
.nav {
    display: flex;
    align-items: center;
    height: 70px;
    padding-bottom: 15px;
}
.contactMe,.navIcons {
    flex: 1;
}
.navIcons {
    text-align: right;
}
.navIcons a, .contactMe a, .contactMe img {
    display: inline-block;
    vertical-align: middle;
}
.navIcons a {
    margin-left: 40px;
}
.contactMe a, .navIcons a{
    color: #027bff;
    text-decoration:none;
}
.contactMe img{
    margin-right: 10px;
}
/*-------- Home --------*/
.home a{
    text-decoration: none;
    color: rgb(128, 135, 138);
    padding-bottom: 30px;
    font-size: 50px;
}


/*-------- Landing --------*/

.landing {
    height: auto;
    padding-bottom: 100px;
}
.landingWrapper a{
    text-align: left;
}
.landingWrapper img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}
.landingWrapper p{
    text-align: left
}
ul {
    list-style: none;
    margin-top: 30px;
    line-height: 30px;
}
.scroll {
    position: absolute;
    bottom: 140px;
    left: 0;
    right: 0;
    margin: auto;
}